@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* reset */
*,
*::before,
*::after,
body {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  /* width: 100%; */
  font-size: 100%;
  /* overflow-x: hidden; */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  /* overflow-x: hidden; */
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#root {
  overflow-x: hidden;
}

:root {
  --black: #1a1a1a;
  --tomato: #ea4913;
  --cerulean: #0565bb;
  --white-two: #eee;
  --kelley-green: #00833f;
  --lavender: #c6b8f5;
  --dark-brown: #110e03;
  --bright-orange-two: #f50;
  --mango: #ffb225;
  --tomato-two: #e84c33;
  --bluish: #2584b3;
  --sand: #dabb5e;
  --copper: #c73c27;
  --mango-two: #ffb227;
  --eggshell: #fffbd8;
  --tomato-three: #e0412a;
  --light-grey: #ced1c8;
  --pinkish-grey: #d4c4ab;
  --cloudy-blue: #b1d1cf;
  --light-grey-two: #d8dad7;
  --mid-blue: #245fc5;
  --greyish: #a9a9a9;
  --sun-yellow: #fcd32a;
  --golden-yellow: #ffc717;
  --black-four: #333;
  --dark: #1c2027;
  --white-three: #f4f4f4;
  --brownish-grey: #666;
  --pumpkin-orange: #fa7b26;
  --pinkish-grey-two: #ccc8c6;
  --white-four: #f1f1f1;
  --bright-orange: #f96400;
  --black-two: #111;
  --dark-maroon: #020001;
  --white: #fff;
  --black-three: #222;
}

.Text-Style-18 {
  font-family: Montserrat;
  font-size: 10.719rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
}
.Text-Style-13 {
  font-family: Montserrat;
  font-size: 10.719rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.Text-Style-4 {
  font-family: NotoSans;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-two);
}
.Text-Style-25 {
  font-family: Montserrat;
  font-size: 3.438rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-brown);
}
.Text-Style-19 {
  font-family: Montserrat;
  font-size: 3.125rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.313rem;
  text-align: left;
  color: var(--white);
}
.Text-Style-12 {
  font-family: Montserrat;
  font-size: 0.313rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.54;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
}
.Text-Style-5 {
  font-family: Montserrat;
  font-size: 3.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.313rem;
  text-align: center;
  color: var(--bright-orange);
}
.Text-Style-3 {
  font-family: Montserrat;
  font-size: 2.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.281rem;
  text-align: left;
  color: var(--sun-yellow);
}
.Text-Style-23 {
  font-family: Montserrat;
  font-size: 2.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.31rem;
  text-align: left;
  color: var(--dark-brown);
}
.Text-Style-2 {
  font-family: NotoSans;
  font-size: 2.188rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-three);
}
.Text-Style-24 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}
.Text-Style-17 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-brown);
}
.Text-Style-22 {
  font-family: Montserrat;
  font-size: 1.563rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-three);
}
.Text-Style-14 {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
}
.Text-Style-20 {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}
.Text-Style {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}
.Text-Style-6 {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}
.Text-Style-16 {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: var(--bright-orange);
}
.Text-Style-21 {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-three);
}
.Text-Style-7 {
  font-family: NotoSans;
  font-size: 1.094rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: right;
  color: #abacaf;
}
.Text-Style-8 {
  font-family: NotoSans;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-three);
}
.Text-Style-9 {
  font-family: NotoSans;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-brown);
}
.Text-Style-10 {
  font-family: NotoSans;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--sun-yellow);
}
.Text-Style-15 {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
}
.Text-Style-11 {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.Text-Style-26 {
  font-family: NotoSansCJKkr;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-two);
}

/* nav */
.navbar {
  width: 100vw;
  height: 6vh;
  padding: 1.5rem 7.5rem 1.688rem 6.063rem;
  background-color: var(--black-two);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-item {
  color: var(--white);
  text-decoration: none;
  padding: 0.125rem 1rem 0 1rem;
}
.nav-item > li {
  list-style: none;
  height: 0.688rem;
  font-size: 0.875rem;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* banner */
.banner {
  display: flex;
  flex-direction: column;
  font-size: 0px;
}
.main-banner > img {
  width: 100vw;
}
.introduction-bg {
  width: 100vw;
  z-index: -1;
  position: relative;
}
.introduction-bg > img {
  width: 100vw;
}
.intro-desc {
  position: absolute;
  z-index: 1;
  top: 10.875rem;
  left: 10.813rem;
  transform: translatFeY(-50%);
}

.Text-Style-19 {
  text-transform: uppercase;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 3.75rem;
}

.Text-Style-6 {
  width: 41.688rem;
  height: 7.813rem;
  line-height: 1.75;
  font-weight: normal;
  font-size: 1.25rem;
}
.best-product {
  position: relative;
}
.bes-bg {
  position: relative;
}
.bes-bg > img {
  width: 100vw;
}
.bes-text {
  position: absolute;
  /* z-index: 10; */
  /* text-align: center; */
  top: 9.375rem;
  left: 39rem;
}
.Text-Style-5 {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.Text-Style-16 {
  width: 43.75rem;
  font-size: 1.25rem;
}

.product-intro {
  position: absolute;
  top: 22.625rem;
  left: 11rem;
  display: flex;
  flex-wrap: wrap;
  width: 81.82vw;
}
.product-item {
  /* display: flex; */
  /* flex-direction: row; */
  position: relative;
  width: 33.33%;
}

.product-icon {
  position: absolute;
  width: 5.75rem;
  height: 5.75rem;
  top: -2.875rem;
  left: 0;
  z-index: 99;
}

.product-desc {
  width: 22.5rem;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 4.375rem;
  bottom: -2.375rem;
}
.Text-Style-20 {
  margin: 1rem 0 1rem 1.688rem;
  font-size: 1.125rem;
  line-height: 1.25;
  width: 11.75rem;
  height: 2.75rem;
}
.product-more {
  cursor: pointer;
}
.img-icon {
  width: 3.75rem;
  height: 3.75rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

/* product */
.item-like {
  color: var(--black-three);
}

.card {
  margin: 10.875rem;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-item {
  width: calc(20% - 1.125rem);
}

.card-title {
  font-size: 1.125rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  line-height: 1.94;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.btn-wrap {
  text-align: center;
  margin: 6.25rem;
}
.see-more-btn {
  width: 12.5rem;
  height: 3.75rem;
  font-weight: 900;
  border: solid 0.13rem var(--dark-maroon);
  background-color: var(--white);
  color: var(--black-three);
  text-align: center;
}
.product-like {
  margin-bottom: 0.625rem;
}
.heart-icon {
  margin-right: 0.438rem;
  margin-left: auto;
  justify-content: flex-end;
}

/* brandstory */
.brand-story {
  margin: 0;
  /* padding: vh; */
  box-sizing: border-box;
  position: inherit;
  width: 100vw;
}
.brand {
  background-color: #0565bb;
  height: 59.75rem;
  width: 100%;
  position: relative;
  /* padding-bottom: 0; */
}
.brand-img-01 {
  position: absolute;
  top: 4rem;
  right: 16rem;
}
.brand-img-02 {
  position: absolute;
  top: 7.125rem;
  right: 10.688rem;
  z-index: 2;
}
.brand-img-03 {
  position: absolute;
  top: 11.438rem;
  left: 10.625rem;
}
.brand-img-04 {
  position: absolute;
  top: 50%;
  left: 0;
}
.brand-img-05 {
  position: absolute;
  top: 34.375rem;
  z-index: 1;
  left: 12rem;
}
.brand-wrap {
  position: absolute;
  width: 12.5rem;
  height: 31.25rem;
  top: 12rem;
  right: 0;
  overflow: hidden;
}
.brand-img-07 {
  width: 18.75rem;
  height: 100%;

  object-fit: contain;
}
.brand-img-06 {
  position: absolute;
  top: 36rem;
  right: 0;
  z-index: 2;
}
#hiden {
  overflow: hidden;
}
.brand-title {
  text-transform: uppercase;
  font-size: 2.813rem;
  font-weight: bold;
  text-align: center;
  color: #fcd32a;
  padding-top: 9.375rem;
  margin-bottom: 2.5rem;
}
.brand-desc {
  color: #fcd32a;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.88;
  text-align: center;
}
.brand-desc-01 {
  color: #fcd32a;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.88;
  text-align: center;
  margin-bottom: 4.375rem;
}
.brand-main-img {
  display: block;
  /* width: 51%; */
  width: 38.25rem;
  height: 26.125rem;
  z-index: 22;
}
.brand-row {
  width: 77.313rem;
  height: 1.5rem;
  background-color: var(--dark-maroon);
  margin-left: 20.8rem;
  position: relative;
}

.brand-row::after {
  content: "";
  position: absolute;
  width: 76.75rem;
  height: 0.563rem;
  top: 0.344rem;
  left: 0.25rem;
  background-color: var(--dark-maroon);
  border-top: 0.125rem solid #0565bb;
  border-bottom: 0.125rem solid #0565bb;
}
.brand-main {
  max-width: 78.125rem;
  display: flex;
  align-items: center;
  margin-left: 20.813rem;
}

.brand-text {
  width: 50%;
  height: 26.125rem;
  background-color: var(--white);
  border-left: none;
  z-index: 2;
  font-family: Montserrat;
}
.brand-text-title {
  text-transform: uppercase;
  font-size: 1.563rem;
  padding: 1.25rem 0;
  padding-left: 1.25rem;
}
.brand-text-desc {
  padding-left: 1.25rem;
  width: 33rem;
}
.brand-button {
  cursor: pointer;
  width: 12.5rem;
  height: 3.75rem;
  font-weight: 900;
  text-align: center;
  color: var(--black-three);
  padding: 1.25rem 1.25rem;
  border: solid 0.188 var(--dark-maroon);
  background-color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  display: inline-block;
}
* {
  box-sizing: border-box;
}

.what {
  height: auto;
  margin-top: 6.25rem;
  position: relative;
  width: 100vw;
  /* overflow: hidden; */
}
.what-title {
  text-transform: uppercase;
  font-size: 2.813rem;
  font-weight: 800;
  text-align: center;
  font-size: 3.125rem;
  letter-spacing: 0.625rem;
  color: var(--black-two);
  padding-top: 9.375rem;
  margin-bottom: 2.5rem;
  font-family: Montserrat;
  /* overflow: hidden; */
}
.what-desc {
  font-size: 1.25rem;
  font-family: Montserrat;
  font-weight: normal;
  line-height: 1.88;
  text-align: center;
}
.what-desc-01 {
  /* font-size: 1.25rem; */
  font-family: Montserrat;
  color: var(--black-two);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.88;
  text-align: center;
  margin-bottom: 4.375rem;
}

.what-main {
  text-align: center;
  margin-top: 5.625rem;
}
.what-img-01 {
  position: absolute;
  top: 18.75rem;
  left: -17.5%;
  width: 100%;
  height: 100%;
}
.what-img-02 {
  position: absolute;
  top: 43.75rem;
  right: 0;
  width: 10.875rem;
  z-index: -99;
  /* width: 100%; */
  overflow: hidden;
  /* width: 12.5rem; */
}
.what-img-03 {
  /* width: 100%; */
  overflow: hidden;
  width: 12.5rem;
  position: absolute;
  top: 60rem;
  right: 0;
  width: 24.688rem;
  z-index: -1;
}
.img-03 {
  overflow: hidden;
}
.img-02 {
  overflow: hidden;
}
.img-04 {
  position: absolute;
  top: 10rem;
  right: 9.125rem;
}
.img-05 {
  position: absolute;
  top: 16.875rem;
  right: 15.313rem;
  z-index: 2;
}

.img-07 {
  position: absolute;
  top: 84.375rem;
  left: 13.938rem;
  z-index: -10;
}
.img-06 {
  position: absolute;
  top: 90.625rem;
  left: 21.25rem;
}
.img-08 {
  position: absolute;
  top: 85.625rem;
  right: 43.438rem;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 348px;
  margin: 348px 0 0;
  padding: 0px 99px 0px;
  background-color: var(--white);
  border-top: solid 1px var(--white-three);
}
.contact-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 51px;
  margin-bottom: 0px;
  height: 200px;
  /* border-bottom: solid 1px var(--white-three);; */
}
.contact-info > h5 {
  text-align: left;
  margin-bottom: 40px;
}
.contact-info > p {
  line-height: 32px;
}
.more-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 51px;
  /* margin-left: 41px; */
  padding-left: 80px;
}
.info {
  /* padding: auto 30px; */
  padding-left: 100px;
  /* line-height: 346px; */
}
.info > h5 {
  text-align: left;
}
.info > p {
  line-height: 32px;
}

.about-company {
  border-top: solid 1px var(--white-three);
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 113px;
}
.address {
  color: var(--greyish);
  margin-top: 22px;
  margin-left: 101px;
  width: 761px;
  word-break: break-all;
  text-align: left;
}
.break-line {
  background-color: var(--white-three);
}
.social-media-link {
  margin: 27px 100px 123px;
  justify-content: flex-end;
}
.social-media-icon {
  margin-left: 24px;
  /* padding: auto 50px ; */
}
/* responsive  */

@media only screen and (max-width: 1850px) {
  .card-item {
    width: calc(25% - 3rem);
  }
  .card-bottom {
    margin: 1rem 1.5rem 3rem 0;
  }
  .product-item {
    width: 33.333%;
  }
  .product-img {
    width: 95%;
  }
  .product-desc {
    width: 60%;
  }
}
@media only screen and (max-width: 1600px) {
  .card-item {
    width: calc(33% - 3rem);
  }
  .card-bottom {
    margin: 1rem 1.5rem 3rem 0;
  }
  .product-img {
    width: 90%;
  }
  .product-desc {
    width: 90%;
  }
  .bes-text {
    top: 6rem;
    left: 25rem;
  }
  .footer {
    flex-direction: column;
  }
  .more-info {
    padding-right: 0rem;
    align-items: left;
  }
  .address {
    padding-top: 10rem;
  }
  .social-media-link {
    padding-top: 10rem;
  }
  .product-desc {
    width: 60%;
    font-size: .75rem;
    /* line-height: 2; */
  }
  .Text-Style-19 {
    font-size: 3rem;
  }
  .Text-Style-6 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .card-item {
    width: calc(50% - 3rem);
  }
  .card-bottom {
    /* margin: inherit; */
    /* margin-right: 1.5rem; */
    margin: 1rem 4.25rem 3rem 0;
  }
}
@media only screen and (max-width: 768px) {
  .card-item {
    width: 100%;
  }
  .card-bottom {
    /* margin: inherit; */
    /* margin-right: 1.5rem; */
    margin: 1rem 4.25rem 3rem 0;
  }
}
